@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    background-image: url('https://i.pinimg.com/564x/fc/56/9a/fc569a6cb8db33d2deb700750455149f.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.myhead {
    text-align: center;
    padding-top: 1%;
    font-weight: bolder;
    position: relative;
    font-family: "Libre Baskerville", serif;
    font-style: oblique;
    font-size: 100px;
    color: rgb(235, 229, 229);
}

.myp {
    border: 2px solid;
    border-radius: 50%; /* Changed to make it circular */
    height: 500px;
    width: 500px;
    box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.8);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    padding: 40px; /* Adjusted padding to center the text within the circle */
    font-size: 150%;
    font-weight: bolder;
    color: rgb(234, 234, 227);
    font-family: "Kalam", cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

button {
    text-align: center;
    position: relative;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 25px;
    cursor: pointer;
    font-family: "Libre Baskerville", serif;
    margin-bottom: 5%;
}

button:hover {
    background-color: rgb(237, 174, 221);
}

.calculator {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: rgb(2, 8, 19);
}

@media (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
    }
    .myhead {
        margin-top: 100px;
        font-size: 45px;
    }
    .myp {
        font-size: 20px;
        margin-top: 60px;
        height: 300px; /* Adjusted for smaller screens */
        width: 300px;  /* Adjusted for smaller screens */
        padding: 20px; /* Adjusted padding for smaller screens */
    }
    button {
        font-size: 20px;
    }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

h1 {
    animation: blink 1s infinite;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}